@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: #f9fafe;
}

.category .item img {
    border: 1px solid skyblue;
    border-radius: 10%;
    padding: 10px;
}

img:hover {
    background-color: skyblue;
}

.category {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 2px;
}

.category .item {
    width: 12%;
}

a {
    text-decoration: none;
    color: black;
}

.container-fluid {
    padding: 0 40px;
}

.all-cards .card img {
    position: relative;
    z-index: 2;
}

.all-cards .card {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    transition: 2s;
    z-index: 1;
}

.all-cards .card:hover::after {
    bottom: 0;
}

.all-cards .card:hover p {
    color: #fff;
    z-index: 3;
    position: relative;
}

.all-cards .card:hover h2 {
    color: #fff;
}

img {
    width: 60px;
    height: 60px;
    border: 2px solid skyblue;
    border-radius: 50%;
    margin: 30px;
}

.all-cards .card::after {
    content: "";
    z-index: 0;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    bottom: -100%;
    position: absolute;
    left: 0;
    transition: 2s;
}

.all-cards .card h2 {
    margin: 0;
    position: relative;
    z-index: 2;
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
}

iframe {
    width: 90%;
    height: 500px;
}
.footer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    background-color: #576988;
    margin:0px 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    gap: 20px; 
}
ul{
    list-style-type: none;
}

.footer div {
    flex: 1 1 30%;
    display: inline-block;

}

ul li+li {
    margin-top: 10px;
}

div ul+ul li {
    display: inline;
}
.icon li+li{
    margin-left: 10px;
}

ul {
    padding-left: 0;
}

.copyright {
    border-top: 2px solid white;
}

ul+ul li a {
    color: white;
}

ul li a {
    color: white;
}
